.about-us {
  padding-top: 65px;
}

.about-us-inner {
  border: 5px solid $main-color;
  border-radius: 5px;
  text-align: center;

  h2 {
    position: absolute;
    width: 80%;
    padding: 30px;
    top: -45px;
    left: 50%;
    -moz-transform: translate(-50%, 0); /* Для Firefox */
    -ms-transform: translate(-50%, 0); /* Для IE */
    -webkit-transform: translate(-50%, 0); /* Для Safari, Chrome, iOS */
    -o-transform: translate(-50%, 0); /* Для Opera */
    transform: translate(-50%, 0);
    background: #000000;
  }

  p {
    margin: 30px 10px 50px;
  }
}

.btn-on-border {
  position: absolute;
  width: 80%;
  padding: 30px;
  bottom: -50px;
  left: 50%;
  -moz-transform: translate(-50%, 0); /* Для Firefox */
  -ms-transform: translate(-50%, 0); /* Для IE */
  -webkit-transform: translate(-50%, 0); /* Для Safari, Chrome, iOS */
  -o-transform: translate(-50%, 0); /* Для Opera */
  transform: translate(-50%, 0);
  background: #000000;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 260px;
  }

  .about-us-inner {

    h2 {
      top: -65px;
    }

    p {
      padding: 30px 60px 100px;
    }
  }

  .btn-on-border {
    width: 50%;
    bottom: -65px;
  }
}